@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
/* header frist row start*/
.containar{
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.containar-chaid{
    width: 92%;
    margin-left:80px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 12px;
}
.logo-box{
    width: 53px;
    height:48px;
}
.navbar{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.hero{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
}
.hero:hover{
    border-bottom: 2px solid red;
}
.hero2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero2:hover{
    border-bottom: 2px solid rgb(161, 8, 77);
}
.hero3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero3:hover{
    border-bottom: 2px solid rgb(211, 148, 20);
}
.hero4{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero4:hover{
    border-bottom: 2px solid rgb(182, 211, 15);
}
.hero5{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero5:hover{
    border-bottom: 2px solid rgb(22, 209, 187);
}
.hero6{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero6:hover{
    border-bottom: 2px solid rgb(161, 9, 207);
}
.menu-menu{
    width: 1200px;
    height: 450px;
    margin: 100px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    display: flex;
    position: absolute;
    top: -35px;
    left: -50px;
    opacity: 0;
    visibility: hidden;
}
.head-part{
    margin: 10px;
    color: red;
    font-size: 16px;
}
.mega-menu-items{
    height: 500px;
    width: 260px;
}
.mega-menu-items-box1{
    width: 220px;
    height:280px;
    border-bottom: 2px solid  #94969f;
    margin: auto;
}
.mega-menu-items-box2{
    width: 220px;
    height: 200px;
    margin: auto;
}
.mega-menu-items-box3{
    width: 220px;
    height:180px; 
    border-bottom: 1px solid #94969f;
    margin: auto;

}.mega-menu-items-box4{
    width: 220px;
    height:190px; 
    border-bottom: 1px solid #94969f;
    margin: auto;

}
.mega-menu-items-box5{
    width: 220px;
    height: 100px; 
    margin: auto;

}
.mega-menu-items-box6{
    width: 220px;
    height: 240px; 
    margin: auto;
    border-bottom: 1px solid #94969f;

}
.mega-menu-items-box7{
    width: 220px;
    height:250px; 
    margin: auto;

}
.mega-menu-items-box8{
    width: 220px;
    height: 270px; 
    margin: auto;
    border-bottom: 2px solid #94969f;

}
.mega-menu-items-box9{
    width: 220px;
    height: 170px; 
    margin: auto;

}
.mega-menu-items-box10{
    width: 220px;
    height: 350px; 
    margin: auto;
    border-bottom: 1px solid #94969f;
}
.mega-menu-items-box11{
    width: 220px;
    height:100px; 
    margin: auto;
}
.list-ul>li{
    margin:6px 10px;
    font-size: 16px;
    color:  #282c3f;
}
.hero:nth-child(1):hover .menu-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.hero2:nth-child(2):hover .menu-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.hero3:nth-child(3):hover .menu-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.hero4:nth-child(4):hover .menu-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.hero5:nth-child(5):hover .menu-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.hero6:nth-child(6):hover .menu-menu2{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.menu-menu2{
    width: 700px;
    height: 450px;
    margin: 99px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    position: absolute;
    top: -35px;
    left: -150px;
    opacity: 0;
    visibility: hidden;
}
.menu-menu2-box1{
    width: 600px;
    height: 90px;
    margin: 10px auto;
}
.menu-menu2-box1-box1:nth-child(1){
    width: 600px;
    height: 60px;
    margin:auto;
}
.jonner{
    width: 150px;
    height: 100%;
    margin: auto;
}
.jonner2{
    width: 180px;
    height:60%;
    border: 2px solid gray;
    margin:auto;
    margin-left: 220px;
}
.jonner2:hover{
    background-color: #282c3f;
    transition: 0.5s;
}
.doner{
    font-size:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282c3f;
}
.jonner2:hover .doner{
    color: aliceblue;
    transition: 0.5s;
}
.menu-menu2-box1-box2:nth-child(2){
    width: 650px;
    height: 30px;
    margin:auto;
}
.peragraphay{
    margin-top: 2px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-menu2-box2{
    width: 580px;
    height: 250px;
    margin:auto;
}
.menu-menu2-box3{
    width: 650px;
    height:80px;
    margin: 10px auto;
}
/*menu-menu start*/
.menu-mega2{
    width: 1200px;
    height: 450px;
    margin: 99px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility: hidden;
}
.hero2:hover .menu-mega2{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.mega-menu2-items{
    height: 500px;
    width: 260px;
}
.women-bar{
    font-size: 16px;
}
.mega-menu1{
    width: 220px;
    height: 310px;
    border-bottom: 2px solid #94969f;
    margin: auto;
}
.mega-menu2{
    width: 220px;
    margin: auto;
    height: 150px;
}
.mega-menu3{
    width: 220px;
    margin: auto;
    height: 370px;
    border-bottom: 1px solid #94969f;
}
.mega-menu4-4{
    width: 220px;
    margin: auto;
    height: 100px;
}
.mega-menu5-5{
    width: 220px;
    height: 230px;
    border-bottom: 1px solid #94969f;
    margin: auto;
}
.mega-menu6{
    width: 220px;
    margin: auto;
    height: 200px;
}
.mega-menu7{
    width: 220px;
    border-bottom: 1px solid #94969f;
    margin: auto;
    height: 200px;
}
.mega-menu8{
    width: 220px;
    margin: auto;
    height: 250px;
}
.mega-menu9{
    width: 220px;
    border-bottom: 1px solid #94969f;
    margin: auto;
    height: 150px;
}
.mega-menu10{
    width: 220px;
    border-bottom: 1px solid #94969f;
    margin: auto;
    height: 120px;
}
.mega-menu11{
    width: 220px;
    margin: auto;
    height: 150px;
}
.women-bar{
    margin: 10px;
    color:rgb(161, 8, 77);
}
/*menu-menu end*/
/*fix bar start*/
.fixed-bar-1-1-1{
    width: 340px;
    height: 50px;
    background-color: #535766;
    transform:rotate(270deg);
    position:fixed;
    top: 300px;
    left: 1320px;
    z-index: 10;
    padding-top: 5px;
}
.fixed-bar2-2-2{
    color: white;
    font-size:32px;
    display: flex;
    align-items: center;
    padding-bottom:10px;
    font-weight: 900;
    z-index: 12;
    padding-left: 25px;
}
.fixed-bar2-2-2:hover{
    cursor: pointer;
}
/*fix bar end*/
/*ball*/
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#3466e8;
    position:fixed;
    top: 480px;
    left: 1350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.mainder:hover{
    cursor: pointer;
}
.ball:hover{
    cursor: pointer;
}
.back-ring{
    width: 50px;
    height: 50px;
    border: 2px solid #3466e8;
    border-radius: 50%;
    position:fixed;
    top: 480px;
    left: 1350px;
    z-index: 1;
    animation: baller 2.5s infinite reverse linear;
}
@keyframes baller{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.5);
    }
}
.back-ring2{
    width: 50px;
    height: 50px;
    border: 2px solid #3466e8;
    border-radius: 50%;
    position:fixed;
    top: 480px;
    left: 1350px;
    z-index: 1;
    animation: baller2 1.5s infinite reverse linear;
}
@keyframes baller2{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.5);
    }
}
.flot{
    background-color:#3466e8;
    position: fixed;
    top: 490px;
    left: 1470px;
    padding: 3px;
    color: white;
    z-index: 20;
}
/*ball*/
/*mega-menu3 start*/
.menu-mega3{
    width: 1200px;
    height: 450px;
    margin: 99px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility: hidden;
}
.menu-mega3-berry{
    font-size: 16px;
}
.hero3:hover .menu-mega3{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.mega-menu3-box{
    width: 240px;
    height: 500px;
    margin: auto;
}
.mega-menu3-box-box1{
    width: 100%;
    height:240px;
    border-bottom: 2px solid #94969f;
}
.mega-menu3-box-box2{
    width: 100%;
    height:150px;
}
.mega-menu3-box-box3{
    width: 100%;
    height:265px;
    border-bottom: 2px solid #94969f;
}
.mega-menu3-box-box4{
    width: 100%;
    height:150px;
}
.mega-menu3-box-box5{
    width: 100%;
    height:160px;
    border-bottom: 2px solid #94969f;
}
.mega-menu3-box-box6{
    width: 100%;
    height:260px;
}
.menu-mega3-berry{
    margin: 10px;
    color:rgb(211, 148, 20) ;
}
/*mega-menu3 end*/
/*menu-mega4 start*/
.mega-menu4{
    width: 1200px;
    height: 450px;
    margin: 99px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility:hidden;
}
.menu-mega4{
    font-size: 16px;
}
.hero4:hover .mega-menu4{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.menu-mega4-box{
    width: 250px;
    height: 100%;
    margin: 0px 5px;
}
.menu-mega4-box-box1{
     width: 100%;
     height: 290px;
     border-bottom: 2px solid #94969f;
}
.menu-mega4-box-box2{
     width: 100%;
     height: 180px;
}
.menu-mega4-box-box3{
     width: 100%;
     height:240px;
     border-bottom: 2px solid #94969f;
}
.menu-mega4-box-box4{
     width: 100%;
     height:230px;
}
.menu-mega4-box-box5{
     width: 100%;
     height: 320px;
     border-bottom: 2px solid #94969f;
}
.menu-mega4-box-box6{
     width: 100%;
     height:130px;
}
.menu-mega4-box-box7{
     width: 100%;
     height:250px;
     border-bottom: 2px solid #94969f;
}
.menu-mega4-box-box8{
     width: 100%;
     height:230px;
}
.menu-mega4{
    margin: 10px;
    color:rgb(182, 211, 15) ;
}
/*menu-mega4 end*/
/*menu-mega5 start*/
.mega-menu5{
    width: 1200px;
    height: 450px;
    margin: 99px auto;
    box-shadow: 0px 5px 4px gray;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility:hidden;
}
.menu-mega5-heading{
    font-size: 16px;
}
.hero5:hover .mega-menu5{
    opacity: 1;
    visibility: visible;
    transition: 0.5;
}
.mega-menu5-box{
    width: 230px;
    height: 100%;
    margin: 0px 30px;
}
.mega-menu5-box-box1{
    width: 100%;
    height: 290px;
    border-bottom: 2px solid #94969f;
}
.mega-menu5-box-box2{
    width: 100%;
    height: 150px;
}
.mega-menu5-box-box3{
    width: 100%;
    height:240px;
    border-bottom: 2px solid #94969f;
}
.mega-menu5-box-box4{
    width: 100%;
    height:190px;
}
.mega-menu5-box-box5{
    width: 100%;
    height:110px;
    border-bottom: 2px solid #94969f;
}
.mega-menu5-box-box6{
    width: 100%;
    height:110px;
    border-bottom: 2px solid #94969f;
}
.mega-menu5-box-box7{
    width: 100%;
    height:100px;
    border-bottom: 2px solid #94969f;
}
.mega-menu5-box-box8{
    width: 100%;
    height:80px;
}
.menu-mega5-heading{
    margin: 10px;
    color:rgb(22, 209, 187) ;
}
/*menu-mega5 end*/
a{
    text-decoration: none;
    color: inherit;
}
.search-bar{
    width: 450px;
    height: 40px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    padding: 5px;
}
.search-bar input{
    width:400px;
    height:40px;
    border: none;
    outline: none;
    background-color: #f5f5f6;
    font-size: 14px;
    padding-left: 15px;
}
.liker-banar{
    width: 194px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.liker-banar>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

}
.lidin-flex{
    width: 350px;
    height: 500px;
    background-color:white;
    box-shadow: 0 4px 12px gray;
    position: absolute;
    top: 65px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.linkden1{
    width: 320px;
    height: 140px;
    border-bottom:1px solid gray ;
    margin: auto;
}
.bolex-in{
    width: 180px;
    height: 50px;
    border: 1px solid #ff3f6c;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 18px;
    color: #ff3f6c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: 0.5s;
}
.bolex-in a{
    font-size: 16px;
}
.bolex-in:hover{
    color: white;
    background-color: #ff3f6c;
}
.linkden2{
    width: 320px;
    height:180px;
    border-bottom:1px solid gray ;
    margin: auto;
    position: relative;
}
.listen-classes{
    list-style: none;
    padding-top: 15px;
}
.listen-classes>li{
    font-size:15px;
    color: black;
    line-height: 25px;
}
.linkden3{
    width: 320px;
    height:180px;
    margin: auto;
}
.liker-banar :nth-child(1):hover .lidin-flex{
    visibility: visible;
    opacity: 1;
}
/*header frist row end*/

/*main frist row start*/
.myntra-main{
    width: 100%;
    margin-top: 100px;
    background-color: white;
}
.main-frist-row{
    width: 100%;
    height:180px;
    margin-top: 20px;
}
.main-frist-row-box{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
}
.main-frist-row-img{
    width: 25%;
    height: 100%;
}
/*main frist row end*/
/*main second row start*/
.main-second-row{
    width: 100%;
    height: 450px;
    margin-top: 10px;
}
/*main second row end*/
/*main thard row start*/
.main-thard-row{
    width: 100%;
    height: 120px;
    display: flex;
}
.main-thard-row-box{
    width: 50%;
    height: 100%;
}
/*main thard row end*/
/*main forth row start*/
.main-forth-row{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 20px;
}
.main-forth-row-box{
    width: 25%;
    height: 40px;
}
/*main forth row end*/
/*main five row start*/
.main-five-row{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
/*main five row end*/
/*main six row start*/
.main-six-row{
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 20px;
}
.main-six-row-box{
    width: 50%;
    height: 120px;
}
/*main six row end*/
/*main seven row start*/
.main-seven-row{
    width: 100%;
    height: 100px;
}
/*main seven row end*/
/*main eight row start*/
.main-eight-row{
    width: 100%;
    height: 350px;
    display: flex;
    margin-top: 20px;
}
.main-eight-row-box{
    width: 16.66%;
    height: 350px;
}
/*main eight row end*/
/*main nine row start*/
.main-nine-row{
    width: 100%;
    height:80px;
    margin: 5px 0px;
}
/*main nine row end*/
/*main ten row start*/
.main-ten-row{
    width:95%;
    height:1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-ten-row-box{
    width: 16%;
    height: 300px;
}
.main-ten-row2{
    width:70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.main-ten-row-box2{
    width:23%;
    height: 300px;
}
/*main ten row end*/
/*main eleven row start*/
.main-eleven-row{
    width: 100%;
    height: 220px;
}
/*main eleven row end*/
/*footer frist row start*/
.footer-row{
    width:100%;
    background-color: #f5f5f6;
    margin-top: 40px;
}
.footer-row-box{
    width: 85%;
    height: 100%;
    margin: auto;
}
/*footer frist row end*/
/*footer frist row start*/
.footer-frist{
    width: 80%;
    height: 425px;
    margin: auto;
    display: flex;
}
.footer-frist-box1{
    width: 200px;
    height: 100%;
    font-size: 14px;
}
.footer-frist-box1 p:hover{
    cursor: pointer;
}
.footer-frist-box1 p{
    font-size: 14px;
}
.footer-frist-box2 p{
    font-size: 14px;
}
.footer-frist-box2 p:hover{
    cursor: pointer;
}
.footer-frist-box2{
    width: 190px;
    height: 100%;
    font-size: 14px;
}
.footer-frist-box3{
    width: 360px;
    height: 100%;
    font-size: 14px;
}
.footer-frist-box3-box{
    width: 100%;
    height: 50px;
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
.f-f-b3-c1{
       width: 30%;
       height: 35px;
}
.f-f-b3-c1:hover{
    cursor: pointer;
}
.footer-frist-box3>h5{
    margin: 20px 10px 10px 10px;
}
.footer-frist-box3-box2{
    width: 40%;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-box{
    width: 20px;
    height:20px;
}
.f-box:hover{
    cursor: pointer;
}
.footer-frist-box4{
    width: 250px;
    height: 100%;
    font-size: 14px;
}
.footer-frist-box4-box{
    width: 240px;
    height: 50px;
    margin: 20px 5px;
    display: flex;
}
.frist{
    width: 60px;
    height:80%;
}
.frist:hover{
    cursor: pointer;
}
.second{
    width: 100%;
    height: 100%;
}
.second:hover{
    cursor: pointer;
}
.second-box{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.second-box p{
    font-size: 14px;
}
p{
    margin: 10px;
    color:#94969f;
}
h5{
    margin: 20px 10px;
}

/*footer frist row end*/
/*footer second row start*/
.colectionar{
    width: 80%;
    height: 30px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #94969f;
}
.hurry{
    width: 12%;
    height: 100%;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
}
/*footer second row end*/
/*footer thard row start*/
.anchor-tags{
    width: 80%;
    height: 100px;
    margin:20px auto;
}
.anchor-tags p a{
    font-size: 13px;
     padding-left:5px;
     line-height: 20px;
}
/*footer thard row end*/
/*footer fore row start*/
.fore-row-footer{
    width: 80%;
    height: 30px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid#94969f;
}
.fore-row-footer-box{
    width: 35%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.fore-row-footer-box:hover{cursor: pointer;}
.boxer2{
    display: flex;
    justify-content: right;
}
.boxer{
    display: flex;
    justify-content:left;
}
/*footer fore row end*/
/*footer five row start*/
.five-row-footer{
    width: 80%;
    height: 160px;
    margin:10px auto;
    display: flex;
}
.five-row-footer-box1 p{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.five-row-footer-box1{
    width:756px;
    height: 100%;
    font-size: 12px;
}
.five-row-footer-box2{
    width:350px;
    height: 100%;
}
li{
    font-size: 14px;
    color:#94969f;
    margin: 2px 10px;
}
.five-footer-boxer{
    width: 100%;
    height: 50px;
    margin-top:100px;
}
.five-footer-boxer-box{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five-footer-boxer-box span:hover{
    cursor: pointer;
}
.five-footer-boxer-box>p{
    font-size: 14px;
}
/*footer five row end*/
/*footer six row start*/
.footer-six-row{
    width: 80%;
    height: 120px;
    margin: auto;
}
.footer-six-row h5{
    font-size: 12px;
    margin:1px 0px;
    margin-left: 10px;
}
.footer-six-row p{
    font-size: 14px;
}
/*footer six row end*/
/*footer seven row start*/
.footer-seven-row{
    width: 80%;
    height: 70px;
    margin: auto;
    margin-top: 15px;
}
.footer-seven-row>h5{
    font-size: 12px;
    margin:1px 0px;
    margin-left: 10px;
}
.footer-seven-row>p{
    font-size: 14px;
}
/*footer seven row end*/
/*footer eight row start*/
.footer-eight-row{
    width: 80%;
    height: 450px;
    margin: auto;
}
.footer-eight-row ol li{
    margin: 15px 50px;
}
/*footer eight row end*/
/*footer nine row start*/
.footer-nine-row{
    width: 80%;
    height: 200px;
    margin: auto;
    font-size: 14px;
    margin-bottom: 10px;
    padding-top: 140px;
}
.footer-nine-row p{
    font-size: 14px;
}
/*footer nine row end*/
/*footer ten row start*/
.foooter-ten-row{
    width: 80%;
    height: 120px;
    margin: auto;
    font-size: 14px;
}
.foooter-ten-row p{
    font-size: 14px;
}
.foooter-ten-row>h5{
    margin: 10px;
}
/*footer ten row end*/
/*footer eleven row start*/
.footer-eleven-row{
    width: 80%;
    height: 120px;
    margin: auto;
    font-size: 14px;
}
.footer-eleven-row p{
    font-size: 14px;
}
.footer-eleven-row>h5{
    margin: 10px;
}
/*footer eleven row end*/
/*footer twelve row start*/
.footer-twelve-row{
    width: 80%;
    height: 230px;
    margin: auto;
}
.footer-twelve-row h5{
    margin: 14px;
}
.footer-twelve-row ul li{
    margin-left: 50px;
}
/*footer twelve row end*/
/*footer thirteen row start*/
.footer-thirteen-row{
    width: 80%;
    height: 240px;
    margin: auto;
}
.footer-thirteen-row p{
    font-size: 14px;
}
.footer-thirteen-row h5{
    font-size: 14px;
    margin: 10px;
}
/*footer thirteen row end*/
/*footer fourteen row start*/
.footer-fourteen-row{
    width: 80%;
    height: 620px;
    margin: auto;
    font-size: 14px;
}
.footer-fourteen-row ol li h5{
    font-size: 14px;
    color: black;
    margin: 10px 10px;
}
.footer-fourteen-row ol li{
    font-size: 12px;
    margin-left: 50px;
}
.footer-fourteen-row p{
    font-size: 14px;
    margin-left: 60px;
}
/*footer fourteen row end*/
/*footer fifteen row start*/
.footer-fifteen-row{
    width: 80%;
    height: 120px;
    margin: auto;
    font-size: 14px;
}
.footer-fifteen-row p{
    font-size: 14px;
}
.footer-fifteen-row h5{
    margin: 10px 10px;
}
/*footer fifteen row end*/
/*footer sixteen row start*/
.footer-sixteen-row{
    width: 80%;
    height: 180px;
    margin: auto;
    font-size: 14px;
}
.footer-sixteen-row p{
    font-size: 14px;
}
.footer-sixteen-row h5{
    margin: 10px;
}
/*footer sixteen row end*/
/*footer seventeen row start*/
.footer-seventeen-row{
    width: 80%;
    height: 180px;
    margin: auto;
    font-size: 14px;
    margin-bottom: 30px;
}
.footer-seventeen-row p{
    font-size: 14px;
}
.footer-seventeen-row h5{
    margin: 10px;
}
/*footer seventeen row end*/
/*home & living work start*/
/*main home work start*/
.main-home-work-body{
    width: 100%;
}
.containar-home{
    width: 100%;
    height: 400px;
    margin-top: 12px;
}
.main-home-work-body-box{
    width:1400px;
    height:450px;
    margin: auto;
    overflow: hidden;
}
.main-home-work-body-box:hover{
    cursor: pointer;
}
.containar-home-2{
    width: 100%;
    margin-top: 10px;
    display: flex;
}
.containar-home-2-box1{
    width: 75%;
    height: 85%;
}
.containar-home-2-box{
    width: 30%;
    height: 100%;
}
.heading{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 40px 100px;
    font-size: 28px;
}
.heading p{
    color:black;
    font-weight: 500;
}
.heading-box1{
    width: 95%;
    height: 450px;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
}
.heading-box1-box{
    width:500px;
    height: 450px;
    margin: 5px 10px;
    overflow: hidden;
}
.heading-box1-box:hover{
    cursor: pointer;
}
.heading-box1-box img{
    width: 100%;
    height: 100%;
}
.heading-box1-box:hover>img{
    transform: scale(1.1);
    transition: 0.5s;
}
.boxer-main-home{
    width: 100%;
    height: 200px;
}
.boxer-main-home:hover{
    cursor: pointer;
}
.containar-home-2-box2{
    color: grey;
    font-size: 14px;
}
.containar-home-2-box2 p:hover{
    cursor: pointer;
    color: black;
}
.main{
    margin: 20px 10px;
}
.boxer-main-home-boxes{
    width: 100%;
    height: 550px;
    background-color:rgb(239, 237, 237);
}
.boxer-main-home-boxes-box{
    width: 97%;
    height: 100%;
    margin: auto;
    display: flex;
    background-color:rgb(239, 237, 237);
}
.home-boxeres{
     width:480px;
     height: 500px;
     margin: 0px 10px 10px ;
     overflow: hidden;
}
.home-boxeres:hover{
    cursor: pointer;
}
.home-boxeres:hover>img{
    transform: scale(1.1);
    transition: 0.5s;
}
.corcor-homer{
    width: 100%;
    height: 150PX;
}
.corcor-homer span{
    font-size: 43px;
    font-weight: 500;
    margin-left: 50px;
    display: flex;
    margin-top: 80px;
}
.ender-home-page{
    width: 100%;
    height: 360px;
}
.ender-home-page-boxer{
    width: 97%;
    height: 100%;
    margin: auto;
    display: flex;
}
.ender{
    width:300px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}
.ender:hover{
    cursor: pointer;
}
.ender:hover>img{
    transform: scale(1.1);
    transition: 0.5s;
}
.ender-box{
    width:250px;
    height: 110px;
    margin: 10px 0px;
    overflow: hidden;
}
.ender-box:hover>img{
    transform: scale(1.1);
    transition: 0.5s;
}
/*main  home work end*/
/*footer home work start*/
.footer-home-row-box{
    background-color:#f5f5f6 ;
}
/*footer home work end*/
/*home & living work end*/
/*bag-main-barbar*/
.bag-main-barbar{
    width: 100%;
    height: 600px;
    background-color:white;
}
.booker-img{
    width:180px;
    height:180px;
    margin: 50px 620px;
    color: aquamarine;
    font-size: 80px;
}
.login-longares{
    width: 160px;
    height: 60px;
    border: 1px solid #3466e8;
    border-radius: 5px;
    margin-left: 700px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #3466e8;
    transition: 0.5s;
}
.login-longares:hover{
    cursor: pointer;
}
.login-longares a{
    font-size: 16px;
}
.login-longares:hover{
    color: white;
    background-color: #3466e8;
}
/*bag-main-barbar*/
/*loiginbar-main*/
.loder-loginer{
    width: 100%;
    height: 800px;
}
.loneread{
    background-color: antiquewhite;
}
.lodic-login{
    width: 450px;
    height: 600px;
    margin:150px auto;
    background-color: white;
}
.lodic-login-img{
    width: 100%;
    height: 200px;
}
.mo-numbers{
    width: 400px;
    height: 50px;
    border: 1px solid gray;
    margin: auto;
}
.mo-numbers2{
    width: 400px;
    height: 50px;
    background-color: #ff3f6c;
    margin:25px auto;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.mo-numbers2:hover{
   box-shadow: 0 4px 12px gray;
   cursor: pointer;
}
span:hover{
    cursor: pointer;
}
/*loiginbar-main*/

